/* 設置網頁主體樣式 */
html, body {
    margin: 0;  /* 去掉網頁主體的預設外邊距 */
}

/* 設置網頁字體樣式 */
html {
    /* 使用指定字體，如果無法加載則依次使用後面的備選字體 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;  /* 將 HTML 根元素高度設置為 100% */
}

/* 設置網頁主體樣式 */
body {
    overflow: hidden;  /* 隱藏主體內容溢出的部分 */
    height: inherit;  /* 繼承父元素 HTML 的高度 */
    background-color:#252b5c;
}

#title {
    font-size: 500%;
    text-align: center;
    color: white;
    font-family:Papyrus;
}
#count{
    color: white;
    font-size: 500%;
    position:absolute;
    top: 15%;
    left:45%;
    font-family:Papyrus;
}
.book{
    width: 40%;
    height: 40%;
    position:absolute;
    top:70%;
    left:50%;
}
.A{
    position:relative;
    color:white;
    width:10%;
    animation: jump-left 1s ease-out;
    -webkit-animation:boxup 1s ease-out infinite ;
}
@-webkit-keyframes boxup{
    0%{
        top:150px;
        transform: translate(100px) rotate(36deg);
    }
    25%{
        top:0px;
        transform: translate(200px) rotate(72deg);
    }
    50%{
        top:150px;
        transform: translate(400px) rotate(108deg);
    }
    75%{
        top:0px;
        transform: translate(500px) rotate(144deg);
    }
    100%{
        top:150px;
        transform: translate(700px) rotate(180deg);
    }
}
